/* src/components/DailyReading.css */

.passage-content {
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  line-height: 1.7;
}

.passage-content p {
  margin-bottom: 1em;
}

/* Style for verse numbers */
.passage-content .versenum {
  font-size: 0.8em;
  font-weight: bold;
  color: #555;
  vertical-align: super;
  padding-right: 2px;
}